.container{
    background-color: #fff;
}
.product-details{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: x-large;
}
.image img{
    margin-left: 150px;
    width: 250px;
}
.accordion-item{
    inline-size: 330px;
    border: none;
    background-color: #fff;
    font-size: x-small;
}
.accordion-header button{
    font-size: small;
}
.accordion-button:not(.collapsed) {
    background-color: #fff;
    color: #000; 
}
.accordion-button {
    background-color: #fff;
    color: #000; 
    border-color: #fff; 
}
.accordion-button:focus {
    box-shadow: none; 
}
.accordion-item {
    margin-bottom: 0.5rem; 
}
.accordion-body {
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
}

.left-container1{
    width: 350px;
    height: 260px;
    justify-content: end;
    padding: 40px 50px;
}
.left-container2{
display: none;
}
@media (max-width: 760px) {
    .left-container1{
        display: none !important;
    }
    .left-container2 {
        width: 700px; 
        display: flex;
        justify-content: space-between;
    }
}
.quantity-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.price {
    align-self:flex-end;
}

.remove {
    align-self: flex-end;
    border: none;
    background-color: #fff;
    color: #ff7949;
}
.remove-btn{
    margin-left: 200px;
}

.plus-btn{
    align-self: flex-start;
}
.Qp{
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.add-btn,
.sub-btn {
  background-color: #ffa45e; 
  color: #ffffff; 
  border: none;
  border-radius: 5px; 
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.add-btn:hover,
.sub-btn:hover {
  background-color: #ff7949; 
}

.quantity {
    color: rgb(255, 115, 0);
  margin: 0 10px;
  font-size: 1.2rem;
}
.sub-total,.shipping,.total,.Card-bonus{
display: flex;
justify-content: space-around;
padding-left: 100px;
}
.Card-bonus{
    color: #ff7949;
    font-size: x-small;
}